.DL {
	// Reset
  padding: 0;
  margin: 0;
  margin-bottom: 1.45em;
  list-style: none;
  max-width: none;

	// Layout
  display: flex;
  flex-flow: row wrap;

	&__item {
    flex: 0 0 auto;
    min-height: 0;
    min-width: 0;
    width: 100%;
	}

	&__btn {
    appearance: none;

    display: block;
    width: 100%;
    vertical-align: baseline;
    margin: 0;
    padding: 0;

    border: 0;
    border-radius: 0;
    transition: none;

    // font-family: $button-font-family;
    // font-size: $button-font-size;
    // font-weight: $button-font-weight;
    -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes

    line-height: 1;
    text-align: center;
    cursor: pointer;
    border-top: 1px solid #e2e4e7;
    padding: 12px 0;

    > svg {
    	vertical-align: middle;
    	margin-right: 6px;
    }
	}
}

@media (min-width: 64em) {
  .DL {
    > .DL__item--dt {
     width: 33.333%;
    }

    > .DL__item--dd {
      width: 66.667%;
      // text-align: right;
    }
  }
}
